body {
    background-color: #232F3E;
}

#submitButton {
    background-color: #f3a847 !important;
    color: #232F3E;
}

#amazonImg {
    width: 200px;
}

.navbar {
    background-color: #131921 !important;
}

hr {
    border-color: #232F3E;
}